<div class="main posts-new">
  <p><%= "ルーム#{@room.id}"%></p>
  <%= form_tag("/chat_messages/create/#{@room.id}") do %>
    <div class="form">
      <div class="form-body">
        <textarea name="content"></textarea>
        <input type="submit" value="保存">
      </div>
    </div>
  <% end %>
  <div class="form">
    <% @room.chat_messages.each do |message| %>
      <div class="messages">
        <p>内容：<%= message.content %></p>
        <p>名前：<%= message.user.name %></p>
        <p>時刻：<%= message.created_at %></p>
      </div>
    <% end %>
  </div>
</div>  