
<div class="main posts-index">
  <div class="container">

    <%# 検索機能 %>
    <div class="search-container">
      <%= form_tag("/posts/index", :method => :get) do %>
        <input type="text" name="keyword" placeholder="キーワードから探す">
        <input type="submit" value="検索">
      <% end %>
    </div>

    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-user-name">
          <%= link_to(post.user.name, "/profiles/#{post.user.id}") %>
        </div>
        <p>
          タイトル:
          <%=post.title %>
        </p>
        <p>
          概要:
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </p>
        <p>
          募集人数:
          <%= post.NumApplicants %>
          人
        </p>
        <p>
          開始日:
          <%= post.start_date %>
          ~
          終了日:
          <%= post.end_date %>
        </p>
        <p>
          募集終了まで残り: 
           <% require "date" %>
           <% today = Date.today %>
           <% leftDays = post.end_date - today %>
           <% if leftDays <= 0 %>
            <%= "募集が終了しました！" %>
           <% elsif %>
            <%= leftDays.numerator %>
            日
           <% end %>    
        </p>
         <div id="favorites_buttons_<%= post.id %>">
            <%= render partial: 'favorites/favorite', locals: {post: post} %>
        </div>
      </div>
    <% end %>
  </div>
</div>