
<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
        <p>
          タイトル:
          <%=post.title %>
        </p>
        <p>
          概要:
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </p>
        <p>
          募集人数:
          <%= post.NumApplicants %>
          人
        </p>
        <p>
          開始日:
          <%= post.start_date %>
          ~
          終了日:
          <%= post.end_date %>
        </p>
      </div>
    <% end %>
  </div>
</div>