<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <%= link_to(@user.name, "/profiles/#{@user.id}") %>
      </div>
        <p>タイトル:
          <%= @post.title %>
        </p>
        <p>概要:
            <%= @post.content %>
        </p>
        <p>募集人数:
          <%= @post.NumApplicants %>
          人
        </p>
        <p>製作期間:
          <%= @post.start_date %>
          ~
          <%= @post.end_date %>
        </p>
        <div class="post-time">
            <%= @post.created_at %>
        </div>
        <%# メールボックス機#1で追加ここから %>
        <%# フォーム送信後にどこへ飛ばすかは検討中 %>
        <%= form_tag("/amessages/create") do %>
          <textarea name="message_content"></textarea>
          <input type="hidden" name="to_user_id" value="<%= @post.id %>">
          <input type="submit" value="応募する">
        <% end %>
        <%# メールボックス機#1で追加ここまで %>

        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
          <%= link_to("戻る", "/posts/index") %>
        </div>
    </div>
  </div>
</div>