<!DOCTYPE html>
<html>
  <head>
    <title>portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/bffbed334b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/path/to/my.css" media="print" onload="this.media='all'">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"><script src="https://kit.fontawesome.com/bffbed334b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header>
      <div class= "flex flex-row-reverse w-full">
        <ul class="header-menus flex self-center">
          <% if session[:user_id] %>
            <li>
              <%= link_to("#{session[:name]}さん","/") =%>
            </li>
            <li class= "ml-2">
              <%= link_to("案件を探す", "/posts/index") %>
            </li>
            <li class= ml-2>
              <%= link_to("メンバーを募集する", "/posts/new") %>
            </li>
            <li class= ml-2>
              <%= link_to("プロフィール", "/profiles/#{session[:user_id]}") %>
            </li>
            <li class= ml-2>
              <%= link_to("お気に入りの案件", "/posts/favorites_index") %>
            </li>
            <li class= ml-2>
              <%= link_to("メール", "/amessages/index") %>
            </li>
            <li class= ml-2>
              <%= link_to("チャット", "/rooms/top") %>
            </li>
            <li class= ml-2>
              <%= link_to("ログアウト", "/users/logout", {method: "post"})%>
            </li>
          <% else %>
            <li>
              <%= link_to("ログイン", "/users/login_form")%>
            </li>
            <li class= ml-2>
              <%= link_to("新規登録", "/users/new") %>
            </li>
          <% end %>
        </ul>
      </div>  
    </header>
    <% if flash[:notice] %>
      <div class="flash flex justify-center px-8 bg-yellow-200">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
